#!/bin/bash

#Variable Test

#echo "GDS Key: $gdsLic" >> /tmp/test.out
echo "GDS Key: $gdsLic" >> /tmp/test.out
echo "LB FQDN: $lb_fqdn" >> /tmp/test.out

wget -O /tmp/neotechnology.gpg.key http://debian.neo4j.org/neotechnology.gpg.key
rpm --import /tmp/neotechnology.gpg.key

cat <<EOF>  /etc/yum.repos.d/neo4j.repo
[neo4j]
name=Neo4j Yum Repo
baseurl=http://yum.neo4j.org/stable
enabled=1
gpgcheck=1
EOF
export NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
yum install -y neo4j-enterprise