#!/bin/bash

## 0 - Variable Test
TESTFILE=/home/ec2-user/vars.out
touch $TESTFILE

echo "Install Bloom: ${installBloom}" >> $TESTFILE
echo "Install GDS: ${installGDS}" >> $TESTFILE
echo "GDS Key: ${gdsKey}" >> $TESTFILE
echo "Bloom Key: ${bloomKey}" >> $TESTFILE
echo "Password: ${password}" >> $TESTFILE
echo "Install APOC: ${installAPOC}" >> $TESTFILE