#!/bin/bash

## 0 - Variable Test
TESTFILE=/home/ec2-user/vars.out
touch $TESTFILE

echo "Install Bloom: ${installBloom}" >> $TESTFILE
echo "Install GDS: ${installGDS}" >> $TESTFILE
echo "GDS Key: ${gdsKey}" >> $TESTFILE
echo "Bloom Key: ${bloomKey}" >> $TESTFILE
echo "Password: ${password}" >> $TESTFILE
echo "Install APOC: ${installAPOC}" >> $TESTFILE
echo "Node Count: ${nodeCount}" >> $TESTFILE

echo "Subnet1: ${subnet1}" >> $TESTFILE
echo "Subnet2: ${subnet2}" >> $TESTFILE
echo "Subnet3: ${subnet3}" >> $TESTFILE

echo "${subnet1} | cut -d . -f 4" >> $TESTFILE
echo "${subnet2} | cut -d . -f 4" >> $TESTFILE
echo "${subnet3} | cut -d . -f 4" >> $TESTFILE

echo "${subnet1} | cut -d . -f 4".99 >> $TESTFILE
echo "${subnet2} | cut -d . -f 4".99 >> $TESTFILE
echo "${subnet3} | cut -d . -f 4".99 >> $TESTFILE